{% extends 'pays/base.html'%}
{% load static%}

{% block content%}
<div class="offset-1 col-10">
    <img src="{% static 'images/1.jpg'%}" class="img-fluid">
    <h1 class="titulo">Tempos Diol</h1>
    <hr>
    <h2 class="titulo">Bem-vindo ao Tempos Diol</h2>
    <p>O presente site pretende revolucionar e melhor a vida dos moçambicanos.</p>
    <p>Através deste site os membros todo o país poderá obter informações e orientações em tempo útil sobre as temperaturas, chuvas, ventos, ciclones e outras em tempo recorde.</p>
  <br><br>
    <footer class="rodape">
        <p>copyright&copy;<i> Diol Nacuco Claudio.</i>Direitos reservados.</p>
        <p>Se deseja um site ou blog para sua empresa, intituição ou pessoal.</p>
        <p>Contacte-nós:<i> 873893996 </i></p>
    </footer>
</div>
{% endblock content%}